[Unit]
Description=Stolon Sentinel
Documentation=https://github.com/sorintlab/stolon
After=network.target

[Service]
Environment=PATH=/usr/pgsql-12/bin:$PATH
User=postgres
Type=simple
ExecStart=/usr/local/stolon/bin/stolon-sentinel --cluster-name stolon-cluster --store-backend=etcdv3 --store-endpoints='http://192.168.88.51:2379'
Restart=on-abort
LimitNOFILE=40000

[Install]
WantedBy=etcd.service
