[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
User=etcd
Type=notify
ExecStart=/usr/local/bin/etcd --name all2 --initial-advertise-peer-urls 'http://192.168.88.70:2380' --listen-peer-urls 'http://192.168.88.70:2380' --advertise-client-urls 'http://192.168.88.70:2379' --listen-client-urls 'http://192.168.88.70:2379' --initial-cluster all1=http://192.168.88.69:2380,all2=http://192.168.88.70:2380,all3=http://192.168.88.71:2380 --initial-cluster-state new --initial-cluster-token XXXXXXXXXXXXXXXXXXXXXXXX --auto-compaction-retention=10 --heartbeat-interval=700 --election-timeout=3700 --data-dir /var/lib/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
